<div class="home-wrapper ">

<div id="carousel-food" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
    <%= cl_image_tag("tacosrb.jpg", :height => 500, :width=>1600, :crop=>"scale") %>
    </div>
    <div class="item">
      <%= cl_image_tag("taco_close.jpg", :height => 500, :width=>1600, :crop=>"scale") %>
    </div>
    <div class="item">
      <%= cl_image_tag("vegs.jpg", :height => 500, :width=>1600, :crop=>"scale") %>
    </div>
  </div>
  </div>

  <div class="btn-container">
    <button class="btn btn-warning center-block">Book Now</button>
  </div>

  <div class="story-wrapper">
    <div class="story-container">
    <div class="head-story">
      <h1>Authentic Tacos and Mexican Food</h1>
    </div>
    <div class="container story">
      <div class="fernando hidden-sm hidden-xs">
      <%= cl_image_tag("IMG-20180826-WA0001.jpg", :height=>300, :crop=>"scale") %>
      </div>
      <div>
        <h3>The Rio Story</h3>
      <p>My inspiration is drawn from my passion towards food and my native Mexico.  With a Culinary degree and and experience as a Chef in various restaurants, I would like to present you with food from the heart like no other.
      Fresh homemade items, slowly cooked and served with delicious homemade corn tortillas.
      Allow us to host any event from birthday parties, business lunches, to even weddings.  We can modify our menu to your needs and make your event a total success.</p>
    </div>
    </div>
  </div>
  </div>
  <div class="gallery-container">
    <div class="gal-image">
    <%= cl_image_tag("vegs.jpg", :height => 500, :width=>1600, :crop=>"scale", class: "img-responsive") %>
  </div>
    <button class="btn-warning">View Our Gallery</button>
    </div>
</div>
